<h1 class="text-center">Profile</h1>
{{!-- use user for user data --}}
{{#if successMessage}}
<p class="text-center font-weight-bold">Success! User profile activated.</p>
{{else}}
<p class="text-center font-weight-bold">Welcome back, {{user.username}}</p>
{{/if}}
{{!-- using class card for border of cards --}}
<div class="row w-100 mx-auto justify-content-center testa">
<<<<<<< HEAD
<div class="top-artists col-md-3 col-sm-7 col-10 d-flex flex-column align-self-center">
<ul class="mx-auto m-2">
<li class="top-p"><b>Top ten artists:</b></li><br>
{{#each topTenArtists}}
<li>{{this}}</li>
{{/each}}
</ul>
</div>
<div class="profile-page col-md-3 col-sm-7 col-10 d-flex flex-column align-self-center">
<img src="{{user.photoUrl}}" alt="user-profile-picture" class="profile-photo rounded-circle mt-3 mx-auto">
<ul class="mx-auto m-2">
<li>{{user.username}}</li>
<li>{{countryName}}</li>
<li><a href="mailto:{{user.email}}">{{user.email}}</a></li>
<li>5 last matches:</li>
{{!-- TODO: add matches here --}}
</ul>
<a href="{{user.profileURL}}" target="_blank" class="mx-auto">Go to user's Spotify profile!</a> 
{{!-- link not working; fix this --}}
<br>
<a href="#" class="btn btn-primary m-3 mx-auto button1">Find your matches!</a>
</div>
<div class="top-genres col-md-3 col-sm-7 col-10 d-flex flex-column align-self-center">
<ul class="mx-auto m-2">
<li class="top-p"><b>Top ten genres:</b></li><br>
{{#each topTenGen}}
<li>{{this}}</li>
{{/each}}
</ul>
</div>
=======


  <div class="top-artists col-md-3 col-sm-7 col-10 d-flex flex-column align-self-center">
    <ul class="mx-auto m-2">
      <li class="top-p"><b>Top ten artists:</b></li><br>
      {{#each topTenArtists}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="profile-page col-md-3 col-sm-7 col-10 d-flex flex-column align-self-center">
    <img src="{{user.photoUrl}}" alt="user-profile-picture" class="profile-photo rounded-circle mt-3 mx-auto">
    <ul class="mx-auto m-2">
      <li>{{user.username}}</li>
      <li>{{countryName}}</li>
      <li>{{user.email}}</li>
      <li>5 last matches:</li>
      {{!-- TODO: add matches here --}}
    </ul>
    <a href="{{user.profileURL}}" target="_blank" class="mx-auto">Go to user's Spotify profile!</a>
    {{!-- link not working; fix this --}}
    <br>
    <a href="/results" class="btn btn-primary m-3 mx-auto button1">Find your matches!</a>
  </div>
  <div class="top-genres col-md-3 col-sm-7 col-10 d-flex flex-column align-self-center">
    <ul class="mx-auto m-2">
      <li class="top-p"><b>Top ten genres:</b></li><br>
      {{#each topTenGen}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
>>>>>>> 079a32ce812dafef08bb2049148b213e71d123eb
</div>
<div class="modal d-flex justify-content-center flex-column mx-auto col-12 text-center">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
  <h4 class="p-0 m-0">Loading..</h4>
  <p>Searching for matches, just a moment.</p>
</div>