<h1 class="text-center">Profile</h1>
{{!-- use user for user data --}}
{{#if successMessage}}
<p class="text-center">Success! User profile activated.</p>
{{else}}
<p class="text-center">Welcome back, {{user.name}}</p>
{{/if}}

<div class="profile_container w-25 d-flex flex-column mx-auto">
<img src="{{user.photoUrl}}" alt="" class="profile_photo rounded-circle mx-auto">
<ul class="mx-auto m-2">
<li>{{user.username}}</li>
<li>{{user.country}}</li>
<li>{{user.email}}</li>
<li>Top Ten Artists</li>
{{!-- TODO: user top ten artists --}}
<li>Top Ten Genres</li>
{{!-- TODO: user top ten artists --}}
<li>5 last matches:</li>
{{!-- TODO: add matches here --}}

<a href="{{user.profileURL}}" target="_blank">Go to user's Spotify profile!</a> 
{{!-- link not working; fix this --}}
<br>
<a href="/results">Find your matches!</a>
<button class="btn btn-primary m-3">Find your matches!</button>
</div>
