<h1>Profile</h1>
{{!-- use user for user data --}}
{{#if successMessage}}
<p>Success! User profile activated.</p>
{{else}}
<p>Welcome back, {{user.username}}</p>
{{/if}}

<img src="{{user.photoUrl}}" alt="" class="profile_photo">
<ul>
<li>{{user.username}}</li>
<li>{{user.country}}</li>
<li>{{user.email}}</li>
<li>Top Ten Artists</li>
{{!-- TODO: user top ten artists --}}
<li>Top Ten Genres</li>
{{!-- TODO: user top ten artists --}}
<li>5 last matches:</li>
{{!-- TODO: add matches here --}}

<a href="{{user.profileURL}}" target="_blank">Go to user's Spotify profile!</a> 
{{!-- link not working; fix this --}}
<br>
<a href="/results">Find your matches!</a>
